


.about-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;

    background-image: url('../images/leaf.gif');


  }
  
  .about-container h1, .about-container h2 {
    text-align: center;
    color: #ffffff; 
    line-height: 50px;;
  }

  
  .about-container section {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #e1e5f2; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Modern shadow */
  }
  
  .about-container h3 {
    color: hsl(197, 71%, 43%);
  }
  
  .about-container p {
    color: hsl(0, 0%, 4%); 
    line-height: 1.6;
  }
  
  /* WOW.js Animation Delays */
  .wow:first-child {
    visibility: hidden;
  }
  
  .wow.fadeInUp {
    animation-name: fadeInUp;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 40px, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  /* Custom WOW.js Animation Duration */
  .wow {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  /* Responsive Design for smaller screens */
  @media (max-width: 768px) {
    .about-container {
      padding: 1rem;
    }
  
    .about-container h1, .about-container h2 {
      font-size: smaller;
    }
  }
  