/* CircularContainer.css */

.circular-container {
    width: 250px;
    height: 250px;
    background-color: #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.circular-level {
    width: 100%;
    height: 100%;
    background-color: #4caf50; /* Initial fill color */
    transform-origin: bottom; /* Start transformation from bottom */
    transition: transform 0.5s ease-in-out; /* Add transition effect */
}

.goal-message, .percentage-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust font size as needed */
    color: #000; /* Adjust color as needed */
    text-align: center; /* Center align the text */
}
