.WM{
    font-size:40px;
    margin-top:30px;
    font-family:"Black Ops One",sans-serif;
}


.row input[type="number"]{
    margin-top: 5px;
    padding: 8px; /* 增加一点 padding */
    border: 1px solid #ccc; /* 添加边框 */
    border-radius: 5px; /* 设置圆角 */
    border-color: #007bff; /* 悬停和焦点时边框颜色 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 添加阴影效果 */


}

.row button[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;


}

.container{
    margin-top:50px;
}

